.social-login {
    padding-top : 15px;
}
.naver-login {
    width : 27%;
}
.facebook-login {
    width : 27%;
}
.kakao-login {
    width : 27%;
}
.google-login {
    width : 27%;
}

@media only screen and (max-width: 768px) {
    .naver-login {
        width: 42%;
        display: block;
        margin :0px auto;
    }
    .facebook-login {
        width: 42%;
        display: block;
        margin :0px auto;
    }
    .kakao-login {
        width: 42%;
        display: block;
        margin :0px auto;
    }
    .google-login {
        width: 42%;
        display: block;
        margin :0px auto;
    }
    .kakao-login .kakao-button-img {
        width: 288px
    }
}