<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Eguana\SocialLogin\Block\Form\Login $block */
$naverData = $block->naverLogin();
$facebookData = $block->facebookLogin();
$kakaoData = $block->kakaoLogin();
$googleData = $block->googleLogin();
?>
<div class="block block-customer-login">
	<div class="block-title">
		<strong id="block-customer-login-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Registered Customers')) ?></strong>
	</div>
	<div class="block-content" aria-labelledby="block-customer-login-heading">
		<form class="form form-login"
			  action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>"
			  method="post"
			  id="login-form"
			  data-mage-init='{"validation":{}}'>
            <?= $block->getBlockHtml('formkey') ?>
			<fieldset class="fieldset login" data-hasrequired="<?= $block->escapeHtml(__('* Required Fields')) ?>">
				<div class="field note"><?= $block->escapeHtml(__('If you have an account, sign in with your email address.')) ?></div>
				<div class="field email required">
					<label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
					<div class="control">
						<input name="login[username]" value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}">
					</div>
				</div>
				<div class="field password required">
					<label for="pass" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
					<div class="control">
						<input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?= $block->escapeHtmlAttr(__('Password')) ?>" data-validate="{required:true}">
					</div>
				</div>
                <?= $block->getChildHtml('form_additional_info') ?>
				<div class="actions-toolbar">
					<div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?= $block->escapeHtml(__('Sign In')) ?></span></button></div>
					<div class="secondary"><a class="action remind" href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>"><span><?= $block->escapeHtml(__('Forgot Your Password?')) ?></span></a></div>
				</div>
				<div class="social-login">
                    <?php if($naverData['enable']):?>
						<div class="naver-login">
							<a href="<?php echo $naverData['url'] ?>"><img src="<?php echo $this->getViewFileUrl('Eguana_SocialLogin::images/naver/naver_login_button.png');?>" class="naver-button-img"/></a>
						</div>
                    <?php endif;?>
                    <?php if($facebookData['enable']):?>
						<div class="facebook-login">
							<a href="<?php echo $facebookData['url'] ?>"><img src="<?php echo $this->getViewFileUrl('Eguana_SocialLogin::images/facebook/facebook_login_button.png');?>" class="facebook-button-img"/></a>
						</div>
                    <?php endif;?>
                    <?php if($kakaoData['enable']):?>
						<div class="kakao-login">
							<a href="<?php echo $kakaoData['url'] ?>"><img src="<?php echo $this->getViewFileUrl('Eguana_SocialLogin::images/kakao/kakao_login_button.png');?>" class="kakao-button-img"/></a>
						</div>
                    <?php endif;?>
                    <?php if($googleData['enable']):?>
						<div class="google-login">
							<a href="<?php echo $googleData['url'] ?>"><img src="<?php echo $this->getViewFileUrl('Eguana_SocialLogin::images/google/google_login_button.png');?>" class="google-button-img"/></a>
						</div>
                    <?php endif;?>
				</div>
			</fieldset>
		</form>
	</div>
</div>

